@import url("https://use.typekit.net/nbl8peo.css");

html,
body,
picture {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

/* Style for "cd-intro b" */

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/cd-intro_background_img.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  font-family: "Open Sans";
}

.intro .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #242f35;
  opacity: 70%;
  padding: 14px 0 15px 28px;
}

.intro .menu {
  padding: 25px;
  height: 75px;
  background-color: #283238;
  position: absolute;
  top: 0;
  right: 0;
}

.intro h1 {
  /* Style for "Say Haloa" */
  display: block;
  margin-bottom: 53px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 85px;
  font-weight: 300;
  text-align: center;
}

.intro .hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .hello span {
  font-family: "Open Sans Light";
  font-style: italic;
}

h3 {
  text-align: center;
  color: #d4af37;
}

h2,
p,
h4 {
  display: block;
  text-align: center;
  color: #021725;
  margin-bottom: 30px;
}

.about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .button {
  border: 1px black solid;
  padding: 20px 40px;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px;
  text-decoration: none;
  color: black;
}

.work .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.work .grid img {
  width: 100%;
}

.mens_photo img,
.last_post img,
.contacts img {
  width: 100%;
  padding: 0 20px;
}

.mens_photo .background,
.last_post .background,
.contacts .background {
  background-color: #f9f9f9d3;
  margin: 0 20px;
}

.menhead {
  text-align: left;
  padding: 0 20px;
  margin-top: 0;
  padding-top: 5px;
}

.last_post .background {
  background-color: #f9f9f9d3;
  margin: 0 20px;
}

.last_post .button {
  border: 1px black solid;
  padding: 20px 40px;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px;
  text-decoration: none;
  color: black;
  position: relative;
  left: 4%;
  margin-bottom: 7%;
}

.last_post .button1 {
  border: 1px black solid;
  padding: 20px 40px;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px;
  text-decoration: none;
  color: black;
  position: relative;
  left: 8%;
  margin-bottom: 25%;
}

.contacts .phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background-color: #eee;
  background-size: 108%;
  height: 235px;
  text-align: left;
  opacity: 0.7;
  color: #323d43;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}

.footer .first {
  margin: 77px 42px 16px 19px;
  padding: 22px 1px 1px 1px;
  text-align: inherit;
}

.footer .second {
  margin: 14px 122px 15px 20px;
  padding: 22px 1px 1px 1px;
  text-align: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.intro_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/about/SW_CalebMorris1.jpg");
  width: 100%;
  height: 200vh;
  background-size: cover;
}

.intro_about .logo_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #242f35;
  opacity: 70%;
  padding: 14px 0 15px 28px;
}

.intro_about .menu_about {
  padding: 25px;
  height: 75px;
  background-color: #283238;
  position: absolute;
  top: 0;
  right: 0;
}

.intro_about .arrow_about {
  position: absolute;
  bottom: -503px;
  left: 294px;
}

.text_people .text {
  margin-left: 3%;
  width: 80%;
  opacity: 0.7;
  color: #021725;
  font-family: "open-sans", sans-serif;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 46px;
  text-align: center;
  margin-bottom: 15%;
}

.text_people .people {
  margin-top: 15%;
  height: auto;
  width: 100%;
}

.services h1 {
  color: #505d68;
  font-family: "Open Sans - Semibold";
  font-size: 85px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 113.92px;
  text-align: left;
  padding-left: 84px;
}

.services .about_service {
  width: 574px;
  height: 260px;
  color: #505d68;
  font-family: "Open Sans";
  font-size: 31px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 56.96px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.82px;
  line-height: normal;
  padding: 0 13px 0 76px;
}

.services .list {
  list-style-type: none;
  color: #505d68;
  letter-spacing: normal;
  line-height: 31.96px;
  text-align: left;
  font-family: "Myriad Pro";
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
}

.intro_blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro_blog .logo_blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #242f35;
  opacity: 70%;
  padding: 14px 0 15px 28px;
}

.intro_blog .menu_blog {
  padding: 25px;
  height: 75px;
  background-color: #283238;
  position: absolute;
  top: 0;
  right: 0;
}

.first_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 19%;
}

.first_post .first_h1 {
  color: #000000;
  font-family: "Open Sans";
  font-size: 56px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 94.24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.first_post .first_h3 {
  /* Style for "14 Septemb" */
  color: #d3b000;
  font-family: "Open Sans";
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 61.24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.first_post .first_p {
  /* Style for "This looks" */
  opacity: 0.7;
  color: #021725;
  font-family: cardo, serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 47.2px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.first_post .button1 {
  border: 1px black solid;
  padding: 20px 40px;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px;
  text-decoration: none;
  color: black;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.second_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 19%;
}

.second_post .second_h1 {
  color: #000000;
  font-family: "Open Sans";
  font-size: 56px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 94.24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.second_post .second_h3 {
  /* Style for "14 Septemb" */
  color: #d3b000;
  font-family: "Open Sans";
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 61.24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.second_post .second_p {
  /* Style for "This looks" */
  opacity: 0.7;
  color: #021725;
  font-family: cardo, serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 47.2px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.second_post .button2 {
  border: 1px black solid;
  padding: 20px 40px;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px;
  text-decoration: none;
  color: black;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.just_margin {
  width: 100%;
  height: 120px;
  background-color: #fcfcfc;
}

.final_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #f9f9f9;
}

.final_section h2 {
  /* Style for "Recent Pos" */
  opacity: 0.7;
  color: #021725;
  font-family: "Open Sans";
  font-size: 43px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 59.78px;
  text-align: start;
}

.final_section h3 {
  /* Style for "This is th" */
  color: #021725;
  font-family: "Open Sans Light";
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: normal;
  line-height: 19.93px;
  text-align: start;
}

.final_section ul {
  padding-left: 2%;
  list-style-type: none;
  font-family: "Open Sans Light";
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.final_section .button {
  border: 1px black solid;
  padding: 20px 40px;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px;
  text-decoration: none;
  color: black;
}

.final_section .grid {
  padding: 2px 20px;
  width: 80%;
}